<div class="col-md-6 tabletask">
<h2>Task list</h2>
<table id = "tasks">
    <br>
    <thead>
        <th>Task name</th>
        <th>Due date</th>
        <th>Priority</th>
    </thead>
    <tbody id = "tasks-list">
    {{#each tasks}}
    <tr>
        <td data-id={{this.id}}>{{this.task_name}}</td>
        <td data-id={{this.id}}>{{format_date_display this.due_date}}</td>
        <td data-id={{this.id}}>{{this.priority}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
    <br>
</div>